<figure class="darkcard">
  <figcaption>
    <img src="../../assets/AdemEmir.jpg" alt="Avatar" style="width:10% ; border-radius: 50%"/>
    <p>Adem&Emir Blog</p>
    <div class="col-md-3" *ngIf="authService.isAuthenticated()">
      <a href=""> {{user}}</a>
    </div>
    <div *ngIf="authService.isAuthenticated()">
    <a href="/add-post" class="follow">Ajouter blog</a>
    <a href="#" (click)="logout()">Déconnecter</a>
    </div>
    <div  *ngIf="!authService.isAuthenticated()">
      <a href="/login">Login</a>
      <a href="/register" >Registre</a>
    </div>
  </figcaption>
</figure>

